<div id="contact" class="grid_12 first">
	<h2 class="grid_12" class="fittext">How to contact me</h2>
	<p>
		Feel free to check out my <a href="http://www.linkedin.com/profile/view?id=249553631&amp;trk=nav_responsive_tab_profile">LinkedIn profile</a>.
		As well as my <a href="https://github.com/Rhiana">GitHub profile</a>. I have also attached a copy of my <%= link_to "resume", cv_path %>
		You can also fill in the following form with your information and I will contact you back shortly.
	</p> <br>

	<div>
	<%= render partial: "rhiana_heath/form" %>
	</div>
</div>